name: Cargo Check

on:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: 
      labels: movement-runner

    steps:

      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup
        uses: ./.github/actions/setup-linux-x86_64

      - name: Cache cargo registry
        uses: actions/cache@v2
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
      
      - name: Cache cargo index
        uses: actions/cache@v2
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-git-${{ hashFiles('**/Cargo.lock') }}
    
      - name: Cache cargo build
        uses: actions/cache@v2
        with:
          path: ./m1/target
          key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}

      - name: Run Cargo Check
        working-directory: ./m1  
        run: cargo check

